div(class="footer")
    div(class="footer__container")
        div(class="footer__content")
            div(class="footer__left") 
                div(class="footer__title") If you have any question, Let us help you!
                div(class="footer__describe") If you have any questions or would like to book a tour with us, please don't hesitate to contact us.
                div(class="footer__contact")
                    div(class="footer__contact--phone") Phone: +250 788 123 456
                    div(class="footer__contact--email") Email: info@rwandatourism.com
                    div(class="footer__contact--address") Address: Kigali, Rwanda
                div(class="footer__subscribe") Subscribe to our newspaper
                div(class="footer__input")
                    div(class="footer__input--left")
                        input(type="email" placeholder="Input your email here")
                    button 
                        img(src="../assets/image/footer-plane.png", alt="")
            div(class="footer__right")
                div(class="footer__right--container")
                    div(class="footer__logo")
                        div(class="footer__logo--circle")
                            img(src="../assets/image/header-logo.png", alt="")
                        div(class="footer__logo--social")
                            img(src="../assets/image/header-fb.png", alt="")
                            img(src="../assets/image/header-bird.png", alt="")
                            img(src="../assets/image/header-in.png", alt="")
                            img(src="../assets/image/header-ig.png", alt="")
                    div(class="footer__content") Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    div(class="footer__menu")
                        div(class="footer__item")
                            p Home 
                            p Testimsnials 
                            p Destinations 
                            p signinn 
                        div(class="footer__item")
                            p About Us 
                            p Packages 
                            p Events 
                            p Gallery 
                        div(class="footer__item")
                            p Our Team 
                            p Blog 
                            p Contact Us 
                            
                        

        div(class="footer__law") Copyright Africa Wizzy Safari 2022
