div(class="social")
    div(class="social__container")
        div(class="social__content")
            div(class="social__left")
                div(class="social__contact")
                    <i class="fa-solid fa-phone-flip"></i>
                    p +250 784 688 641
                div(class="social__mail")
                    <i class="fa-solid fa-envelope"></i>
                    p bbonteemma@gmail.com
            div(class="social__right")
                img(src="../assets/image/header-fb.png", alt="")
                img(src="../assets/image/header-bird.png", alt="")
                img(src="../assets/image/header-in.png", alt="")
                img(src="../assets/image/header-ig.png", alt="")
div(class="header")
    div(class="header__container")
        div(class="header__content")
            div(class="header__left")
                div(class="header__logo")
                    img(src="../assets/image/header-logo.png", alt="")
                ul(class="header__menu")
                    li Home 
                    li About 
                    li Tour package 
                    li Blog 
                    li Contact us
            div(class="header__left")
                div(class="header__button")
                    button Sign In